body{
    background-color:pink;
    color:white;
    text-align: center;
    padding: 5%;
    border:black;
    line-height:1.6em;
    margin:0%;
}
.container{
    width: 100%;
    margin:auto;
    overflow:hidden;
}
.block{
    background-color:pink;
    color:black;
    text-align: center;
    padding: 50%;
    border:black;
    line-height:1.6em;
    margin:0%;

}