.body{
    background-color:pink;
    color:black;
    text-align: center;
    padding: 10%;
    border:black;
    line-height:1.6em;
    margin:0%;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bloc{
    background-color:pink;
    color:black;
    text-align: center;
    padding: 10%;
    border:black;
    line-height:1.6em;
    margin:0%;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}